*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0 /* 2 */;
}

::slotted(input) {
  display: none;
}

:host {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

//focus
:host .check-svg {
  @include focus-style-base();
}
:host(:focus) .check-svg {
  @include focus-style-outset();
}

:host([disabled]) {
  pointer-events: none;
  cursor: default;
}

:host(:hover),
:host(:focus) {
  outline: none;
}
