:host {
  &:host([theme="light"]) {
    --card-background-color: theme("colors.white");
    --card-border-color: theme("colors.gray.lighter");
    --card-selected-border-color: theme("colors.blue.default");
    --card-title-color: theme("colors.gray.dark");
    --card-text-color: theme("colors.gray.default");
  }
  &:host([theme="dark"]) {
    --card-background-color: theme("colors.gray.darkest");
    --card-border-color: theme("colors.gray.default");
    --card-selected-border-color: theme("colors.blue.light");
    --card-title-color: theme("colors.white");
    --card-text-color: theme("colors.gray.default");
  }
  max-width: theme("maxWidth.full");
  & .calcite-card-container {
    height: theme("height.full");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: var(--card-background-color);
    transition-property: theme("transitionProperty.default");
    transition-duration: theme("transitionDuration.150");
    font-size: theme("fontSize.sm");
    border: 1px solid var(--card-border-color);
    color: var(--card-text-color);
    &:hover {
      box-shadow: theme("boxShadow.lg");
      z-index: theme("zIndex.10");
    }
    &:active {
      box-shadow: theme("boxShadow.md");
      z-index: theme("zIndex.10");
    }
  }
}

:host([loading])
  .calcite-card-container
  *:not(calcite-loader):not(.calcite-card-loader-container) {
  opacity: 0;
  pointer-events: none;
}

:host([loading]) .calcite-card-loader-container {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

:host .header,
:host .footer {
  margin-bottom: theme("spacing.4");
  display: flex;
}

:host .header {
  flex-direction: column;
}

:host .footer {
  margin-bottom: theme("spacing.4");
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
}

:host .card-content {
  margin-bottom: theme("spacing.4");
}

// selectable and selected styles
:host([selectable]) .calcite-card-container:active {
  box-shadow: theme("boxShadow.md");
}

:host([selected]) .calcite-card-container {
  border-color: var(--card-selected-border-color);
}

// slotted content
@include slotted("title", "*") {
  font-size: theme("fontSize.base");
  font-weight: theme("fontWeight.medium");
  color: var(--card-title-color);
  margin: theme("spacing.0");
}

@include slotted("subtitle", "*") {
  font-weight: theme("fontWeight.medium");
  margin: theme("spacing.0");
  margin-top: theme("spacing.2");
}

@include slotted("thumbnail", "img") {
  max-width: theme("maxWidth.full");
  min-width: theme("minWidth.full");
}

@include slotted("footer-leading", "*") {
  margin-inline-end: auto;
  align-self: center;
}
@include slotted("footer-trailing", "*") {
  align-self: center;
}

:host .thumbnail-wrapper {
  font-size: 0;
}

:host .checkbox-wrapper {
  position: absolute;
  top: theme("spacing.4");
  right: theme("spacing.4");
  margin: theme("spacing.0");
  padding: theme("spacing.0");
}

:host([dir="rtl"]) .checkbox-wrapper {
  left: theme("spacing.4");
  right: auto;
}
