:host {
  display: inline-block;
  vertical-align: middle;
}

// button width
:host([width="auto"]) {
  width: auto;
}

:host([width="half"]) {
  width: 50%;
}

:host([width="full"]) {
  width: 100%;
}

:host([loading]) {
  button,
  a {
    color: transparent !important;
    pointer-events: none;
  }
}

@mixin btn-outline-clear-state-variant($border-color) {
  button,
  a {
    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 1px $border-color;
    }
  }
}

:host([appearance="outline"]),
:host([appearance="clear"]) {
  &:host([color="blue"]) {
    @include btn-outline-clear-state-variant(theme("colors.blue.default"));
    &:host([theme="dark"]) {
      @include btn-outline-clear-state-variant(theme("colors.blue.light"));
    }
  }
  &:host([color="red"]) {
    @include btn-outline-clear-state-variant(theme("colors.red.default"));
    &:host([theme="dark"]) {
      @include btn-outline-clear-state-variant(theme("colors.red.light"));
    }
  }
  &:host([color="light"]) {
    @include btn-outline-clear-state-variant(theme("colors.gray.lighter"));
  }
  &:host([color="dark"]) {
    @include btn-outline-clear-state-variant(theme("colors.gray.dark"));
  }
}
