@mixin popperHost {
  :host {
    display: block;
    position: absolute;
    z-index: 999;
    top: -999999px;
    left: -999999px;
  }

  :host([aria-hidden="true"]) {
    pointer-events: none;
  }

  :host([aria-hidden="false"]) {
    box-shadow: $shadow-2;
  }
}
